
*{
padding: 0;
margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(./assets/images/background.jpg);
      height: 70vh;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: max(1500px, 100vw);
     
}
.box{
    height: 80vh;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    top: 0%;
}
nav{
    max-width: 60vw;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;

}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}

.hero{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 20px;
    padding: 30px;
   
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 300;
    text-align: center;
    font-size: 24px;
}

.hero> :nth-child(3){
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}







